.main_section{
    background-color: #17A2B8;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    text-align: center;
}
.image {
    height: 19rem;
    width: 19rem;
}
.text{
    font-family: Open Sans;
    color: white;
}

.text_p1{
font-size: 2rem;
font-weight: 600;
line-height: 1rem;
}
.text_p2{
font-size: 1.2rem;
font-weight: 400;
}