.dashboardMaincontainer {
  /* background-color: red; */
  /* background-color: #de33bc; */
  height: 100vh;
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  overflow-x: hidden;
}
.dashboardContainer {
  /* background-color: #6b0909; */
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  /* overflow-x: hidden; */
}
.navbar {
  /* width: 85%; */
  height: 10%;
  /* background-color: #2d18a0; */
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* padding: 1.2rem 1.2rem; */
}
.nameHeading {
  font-size: 1.5rem;
  font-weight: 600;
}
.date {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 1.8rem;
  text-align: left;
  color: #707070;
}
.heading {
  /* background-color: #8b6bc7; */
  height: 10%;
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.header {
  font-size: 1.5rem;
  font-weight: 500;
}

/* filter ################## */

.dropdown select {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
}
/* .dropdown select {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none; 
} */
.dropdown select option {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
#time {
  border: none;
  outline: none;
}

/* ################BOX */
.mainBoxContainer {
  /* background-color: #0b0101; */
  overflow-x: auto;
  display: flex;
  gap: 1rem;
  height: 80%;
  padding-left: 1.5rem;
  width: 100%;
}
.boxContainer {
  background-color: #EEF2F5;
  /* background-color: yellow; */
  width: 22rem;
  height: 100%;
  overflow-y: scroll;
  flex-shrink: 0;
  border-radius: 1rem;
  font-style: Poppins;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* justify-content: center; */
  align-items: center;
}
.box {
  position: sticky;
  width: 90%;
  /* background-color: #fff; */
  /* background-color: #3ecfdf; */
  border-radius: 1rem;
place-items: center;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.boxTodo {
  cursor: pointer;
  text-align: center;
}
.cardbox{
  display: flex;
  flex-direction: column;
  gap: .6rem;
  place-items: center;
  width: 95%;
}
.plusbutton{
  border: none;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.createBtn{
  width: 80%;

}
